* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Lato", sans-serif;
}

.container{
    min-width: 360px;
    max-width: 412px;
    padding: 24px 0;
}

.message{
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    margin-bottom: 24px;
    padding: 0 16px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 16px; 
    margin-bottom: 24px; 
    padding: 0 16px;    
}

.button{
    text-decoration: none;
    padding: 15px;    
    border: 1px solid #0057FF;
    border-radius: 10px;
    font-weight: 400;
    font-size: 18px;
}

.register-button{
background-color: #0057FF;
color: white;
}

.login-button{
    background-color: white;
    color: #0057FF; 
}

.image-campfire{
    width: 100%;
    height: auto;

}